   * {
  font-family: 'Open Sans', sans-serif;
}
.center-grey {
  background: #f2f2f2;
}
.slider {
  position: relative;
  padding: 5px;
  width: 610px;
  margin: auto;
  margin-top: 40px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px #999;
}
.arrows {
  position: absolute;
  top: 10px;
  right: 20px;
}
.arrows img {
  height: 32px;
}
h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: #222;
}

    .slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/*=============================*/
div#smallPicturesContainer {
    z-index: 10;
    position: relative;
    bottom: 0;
    position: absolute;
}

.slider.ng-isolate-scope {
    height: 400px;
    width: 100%;
}

.slide {
    height: 100%;
    width: 100%;
}

.slide img {
    height: 100%;
    width: 100%;
}

ul {}

#smalPicturesUl {
    height: 100px;
    width: 100%;
    list-style: none;
}



#smalPicturesUl li {
    width: 100px;
    float: left;
    margin: 0 3px;
}


/*=============================*/
/*============popup===========*/
.popupForm input {
    height: 20px;
    line-height: 1;
    padding: 3px;
    border-radius: 7px;
    font-size: 13px;
    display: block;
    margin: 10px auto;
    max-width: 178px;
}

.popupForm input.btnPopup {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    border-radius: 4px;
    height: 40px;
    background-color: rgba(66, 202, 70, 0.78);
    border-color: rgba(66, 202, 70, 0.78);
    }

.popupForm {height: 100%;width: 100%;}

.modal.fade {
    height: auto;
    background: beige;
    width: 365px;
    border-radius: 5px;
    padding: 5px;
}

.bottomPopup {
    text-align: center;
    margin-top: 28px;
}

.modal-dialog img.ng-scope {
    width: 200px;
    margin: 0 auto;
    display: block;
}
/*============end popup==============*/
/* slide===========*/
#smallPicturesContainer {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: 15px;
    right: 0;
    height: 22%;
}

#smalPicturesUl li {
    height: 100%;
    width: 13.2%;
    margin: 5px;
    float: none;
    display: inline-block;
    position: relative;
}

.closeBtn {
    border-color: orange;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 10;
    background-color: black;
    padding: 0;
    padding-right: 5px;
    color: orange;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


.smallPicLi img {
    width: 100%;
}

.slideH3, .slideSpan, .slideA {
    position: absolute;
    bottom: 200px;
    color: orange;
    font-size: 29px;
}


.closeBtn i {
    width: 100%;
    height: 100%;
}


 