<div class="overlay">
    <div class="popup">
        <h2>Add a new image</h2>
        <form ng-submit="save()" class="popupForm ">
            <input type="text" placeholder="Title" ng-model="newImage.title" />
            <input type="text" placeholder="Description" ng-model="newImage.description" />
            <input type="file" ng-model="file" onchange="angular.element(this).scope().uploadImage(this.files[0])" />
            <input type="text" placeholder="Link" ng-model="newImage.link" />
            <div class="bottomPopup">
                <input class="btnPopup" type="submit" value="Save" />
                <input class="btnPopup" type="button" value="Cancel" ng-click="cancel()" />
            </div>
        </form>
        <img src="{{newImage.image_url}}" />
    </div>
</div>

